*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
.screen {
    display: flex;
    height: 100vh;
}
.leftside {
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:center;
}
.leftside img {
    max-width: 500px;
    height: auto;
}
.rightside {
    width: 400px;
    background-color: rgb(37, 72, 136);
    padding:50px;
    color:#fff;
    text-shadow: 1px 4px 10px #000;

}
.rightside label {
    display: block;
    margin-bottom: 20px;
    
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius:4px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}
.error {
    font-size: 11px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 4px;
    border-radius: 5px;
}